.card{
    border: none;
    border-left: 5px solid #0000;
    margin-top: 50px;
    border-top-left-radius: 30px;
  }
  
  .badge-primary{
    background-color: #e9eeff;
    color: #4772fe;
  }
  
  .badge-success{
    background-color: #fef0f0 ;
    /* color: #5ece02; */
    color: #ec7c21;
    margin-top:25px;
  }
  
  .badge-danger{
    background-color: #fef0f0 ;
    color: #f04141;
    margin-top:5px;
  }
  .cat-tools{
    display: none;
  }
  
  .cat-tools i {
    margin: 0px 5px;
    cursor: pointer;
  }
  
  .categories-list .card:hover {
    cursor: pointer;
    background-color: #f8f8f8;
  }
  
  .categories-list .card:hover .cat-tools {
    display:inline;
  }

  .card-top{
    display: flex;
    justify-content: space-between;
  }

  .delete-category,.update-category{
    color: #e9eeff;
    margin: 4px;
    border: none;
    border-radius: 5px;
  }

  .delete-category{
    background-color: #f04141;    
  }

  .update-category{
    background-color: rgb(3, 175, 3);    
  }

  .todosCnt{
    font-size: 16px;
  }

@media screen and (max-width: 1200px) {
  .card-top{
    display: flex;
    flex-direction: column;
  }

}